* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.headline-container {
  background-image: url("/images/Header_img.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
}

.menu a {
  font-weight: 600;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu nav img {
  height: 50px;
  width: 50px;
}

.myinfo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
}

.myinfo p {
  flex: 0 1 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.myinfo h1 {
  flex: 0 1 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  margin: 0;
  margin-top: 40px;
}

.myinfo .p2 {
  color: lightgreen;
  margin: 0;
  margin-top: 20px;
}

.info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 24px;
  margin-right: 24px;
  color: #172b4d;
}

.social-media ul {
  display: flex;
  padding: 0;
  margin-left: 102px;
  margin-right: 102px;
  justify-content: center;
  gap: 10px;
  margin-top: 38px;
}

.social-media ul li {
  list-style: none;
}

.social-media ul li img {
  width: 50px;
  height: 50px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  border: solid green 1px;
  margin: 24px;
  justify-content: center;
  row-gap: 24px;
}

.works-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.works-title > *{
  flex: 0 1 100%;
  text-align: center;
}

.works-title h2{
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  margin: 10px;
}

.works-card {
  display: flex;
  flex-direction: column;
  height: 474px;
  border: red solid 1px;
  justify-content: flex-end;
  background-color: #EBF0EE;
}

.works-card > *{
  text-align: center;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.works-card h3{
  color: #3A4A42;
  font-size: 24px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
} 

.works-card ul{
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 8px;
  flex-wrap: wrap;
}

.works-card li{
  list-style:none;
  color: #3A4A42;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 12px 8px 12px;
  background-color: #EBF0EE;
  border-radius: 4px;
}

.works-card div div{
  display:flex;
  justify-content: center;
}
.works-card p {
  color: #FFFF;
  font-size: 17px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #36B37F;
  border-radius: 4px;
  padding: 12px;
  margin: 24px 0px 24px 0px;
}

.about-me {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  border: solid green 1px;
  margin: 24px;
  justify-content: center;
  row-gap: 24px;
}

.about-me-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  background-image: url("/images/mobile_about_me_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.about-me-title > *{
  flex: 1 1 100%;
  text-align: center;
}
.about-me-title h2{
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  margin: 10px;
}

.about-me-title p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #172b4d;
  line-height: 32px;
}

.about-me-title div {
  display:flex;
  justify-content: center;
}

.about-me-title div p{
  color: #FFFF;
  font-size: 17px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #36B37F;
  border-radius: 4px;
  padding: 12px;
}

.about-me-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C1C7D0;
  border-radius: 8px;
  margin-right: 24px;
  margin-left: 24px;
}

.about-me-card img{
  margin-top: 40px;
  margin-bottom: 10px
}

.about-me-card h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
}

.about-me-card ul{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
  padding-left:0;
  text-align: center;
  margin-bottom: 24px;
}

.about-me-card ul li{
  list-style: none;
  color: #36B37E;
  background-color: #FFFF;
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}